---
layout: splash
permalink: 
date: 2016-03-23T11:48:41-04:00
header:
  overlay_image: https://raw.githubusercontent.com/bretonio/bretonio.github.io/master/images/infernalmachine.jpg
  overlay_filter: "0.7"
  cta_label: "Sobre Isso"	
  cta_url: http://bretonio.gitlab.io/echolalia/about/
excerpt: "As armas e os barões assinalados, que da ocidental praia Lusitana, por mares nunca de antes navegados, passaram ainda além da Taprobana, em perigos e guerras esforçados, mais do que prometia a força humana, e entre gente remota edificaram Novo Reino, que tanto sublimaram ..."
---

{% include base_path %}

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %} -->

{% include paginator.html %}